endpoint: "http://rmsws.yieldstar.com/rmsws/AppExchange"
client_name: "bozzuto"
username: "g5"
password: "something"
external_property_id: "location_code"
namespace: "http://rmsws.yieldstar.com:80/rmsws/AppExchange"
